---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";

const url = new URL(Astro.request.url);
---

<header
  id="main-header"
  class="group relative mb-16 flex items-center sm:ps-[4.5rem]"
>
  <div class="flex flex-col">
    <a
      href="/"
      class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
      aria-current={url.pathname === "/" ? "page" : false}
    >
      <img
        class="absolute -left-[72px] top-0 hidden h-14 w-14 rounded-full sm:flex"
        src={"/profile.jpeg"}
        alt="profile"
      />
      <span class="text-xl font-bold sm:text-2xl">Hisam Fahri</span>
    </a>
    <span class="bg-bgColor/[.85] text-accent backdrop-blur"
      >Reader, engineer, dream catcher.</span
    >
  </div>
  <Search />
  <ThemeToggle />
</header>
