---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import ProjectPreview from "@/components/blog/ProjectPreview";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "" }}>
  <section>
    <p class="mb-4">
      I am an enthusiastic and curious engineer, OSS contributors for countless
      projects, voracious reader, active (trying my best) writer.
    </p>
    <p class="mb-4">
      Find me on <a
        target="_blank"
        href="https://github.com/hisamafahri"
        class="underline">GitHub</a
      >, <a
        target="_blank"
        href="https://twitter.com/hisamafahri"
        class="underline">Twitter</a
      >, or <a
        target="_blank"
        href="https://www.linkedin.com/in/hisamafahri/"
        class="underline">LinkedIn</a
      >.
    </p>
    <p>
      You can also email me at <a
        target="_blank"
        href="mailto:me@hisamafahri.com"
        class="underline">me@hisamafahri.com</a
      > (<a
        target="_blank"
        href="https://keys.openpgp.org/vks/v1/by-fingerprint/9C17AFF57A72E34FEB10781FFC28DEDBC520268B"
        class="underline">PGP</a
      >) or have a chat with me at <a
        target="_blank"
        href="https://cal.com/hisam"
        class="underline">Cal.com</a
      >.
    </p>
  </section>
  <section aria-label="Projects list" class="mt-16">
    <h2 class="title mb-4 text-xl">Crafts</h2>
    <div class="grid w-full grid-cols-2 grid-rows-2 gap-2 sm:grid-cols-5">
      <ProjectPreview
        title="MyPocket"
        link="https://github.com/hisamafahri/mypocket"
      />
      <ProjectPreview
        title="CodeFly"
        link="https://github.com/hisamafahri/codefly"
      />
      <ProjectPreview
        title="ngoding.org"
        link="https://github.com/ngodingorg/ngodingorg"
      />
      <ProjectPreview title="coco" link="https://github.com/hisamafahri/coco" />
      <ProjectPreview
        title="create-min-app"
        link="https://github.com/hisamafahri/create-min-app"
      />
      <ProjectPreview
        title="samstack"
        link="https://github.com/hisamafahri/samstack"
      />
      <ProjectPreview
        title="tulkit"
        link="https://github.com/hisamafahri/tulkit"
      />
      <ProjectPreview title="nit" link="https://github.com/hisamafahri/nit" />
      <ProjectPreview
        title="editr"
        link="https://github.com/hisamafahri/editr"
      />
      <ProjectPreview
        title="music-notes"
        link="https://github.com/hisamafahri/music-notes"
      />
      <ProjectPreview title="noted" link="https://notes.hisam.dev" />
      <ProjectPreview
        title="wipe-for-you"
        link="https://github.com/hisamafahri/wipe-for-you"
      />
    </div>
    <h2 class="title mb-4 mt-12 text-xl">Experimental</h2>
    <div class="grid w-full grid-cols-2 grid-rows-2 gap-2 sm:grid-cols-5">
      <ProjectPreview
        title="runsam.js"
        link="https://github.com/hisamafahri/runsamjs"
      />
      <ProjectPreview title="cyg" link="https://github.com/hisamafahri/cyg" />
      <ProjectPreview
        title="letta"
        link="https://github.com/hisamafahri/letta"
      />
      <ProjectPreview
        title="todomi"
        link="https://github.com/hisamafahri/todomi"
      />
      <ProjectPreview
        title="edgest-hono"
        link="https://github.com/hisamafahri/edgest-hono"
      />
      <ProjectPreview
        title="edgest-trpc"
        link="https://github.com/hisamafahri/edgest-trpc"
      />
      <ProjectPreview
        title="httop"
        link="https://github.com/hisamafahri/httop"
      />
      <ProjectPreview
        title="dockoo"
        link="https://github.com/hisamafahri/dockoo"
      />
      <ProjectPreview title="tnkb" link="https://github.com/hisamafahri/tnkb" />
    </div>
    <div class="mt-8">
      <ProjectPreview
        title="And many more..."
        link="https://github.com/hisamafahri"
      />
    </div>
  </section>
  <section aria-label="Blog post or journals list" class="mt-16">
    <h2 class="title mb-4 text-xl">Journals</h2>
    <ul class="space-y-4 sm:space-y-2">
      {
        allPostsByDate.map((p) => (
          <li class="flex flex-col gap-x-2 sm:flex-row">
            <PostPreview post={p} />
          </li>
        ))
      }
      <div>
        <a
          href="/journals"
          rel="noopener noreferrer"
          class="cactus-link mt-4 inline-block"
        >
          Read all →
        </a>
      </div>
    </ul>
  </section>
  <section aria-label="Things that I believe" class="mt-16 hidden">
    <h2 class="title mb-4 text-xl">Some Things that I Believe</h2>
    <ul class="space-y-4 sm:space-y-2">
      <ul class="list-disc space-y-6">
        <li>It&apos;s important to do things FAST!</li>
        <ul class="!mt-1 ml-6 list-[circle]">
          <li>Time is a finite resources</li>
          <li>Time is the denominator</li>
          <li>A week is 2% of the year</li>
          <li>
            Going fast makes you focus on what's important. No wasted time for
            the unimportant
          </li>
        </ul>
        <li>Enthusiasm and genuine curiosity matter</li>
        <ul class="!mt-1 ml-6 list-[circle]">
          <li>It&apos;s so much easier working on something that excites us</li>
          <li>
            It might be one of the biggest survival factors for the things that
            we're working on
          </li>
        </ul>
        <li>
          The red string of every problem is interpersonal relationship problems
        </li>
        <ul class="!mt-1 ml-6 list-[circle]">
          <li>Life is not a "competition", rather than a cooperation</li>
          <li>
            We are the only ones that is worrying about our looks (and of
            course, our ideas)
          </li>
          <li>Admitting fault is not a defeat</li>
        </ul>
        <li>Smaller teams are better</li>
        <ul class="!mt-1 ml-6 list-[circle]">
          <li>Faster decisions, fewer meetings, more experiments, more fun</li>
          <li>No room for mediocre people (can pay more, too!)</li>
          <li>
            You can do big things with small teams, but it's hard to do small
            things with big teams. And small is often plenty. That's the power
            of small — you do what needs to be done rather than overdoing it.
          </li>
        </ul>
        <li>We should build something insanely great</li>
        <ul class="!mt-1 ml-6 list-[circle]">
          <li>
            The term "MVP" is often being abused. MVP shouldn&apos;t sacrifice
            quality
          </li>
          <li>
            "This is a minimal product, so quality isn't important" is a lie
          </li>
          <li>
            If you don’t have the expertise, resources, OR courage to build
            something, then don&apos;t
          </li>
        </ul>
      </ul>
    </ul>
  </section>
  <!-- <section class="mt-16"> -->
  <!--   <h2 class="title mb-4 text-xl">Technologies</h2> -->
  <!--   <ul class="space-y-4 sm:space-y-2"> -->
  <!--     { -->
  <!--       cactusTech.map(({ href, title, desc }) => ( -->
  <!--         <li> -->
  <!--           <a -->
  <!--             href={href} -->
  <!--             target="_blank" -->
  <!--             rel="noopener noreferrer" -->
  <!--             class="cactus-link inline-block" -->
  <!--           > -->
  <!--             {title} -->
  <!--           </a> -->
  <!--           :<p class="inline-block sm:mt-2">{desc}</p> -->
  <!--         </li> -->
  <!--       )) -->
  <!--     } -->
  <!-- </ul> -->
  <!-- </section> -->
</PageLayout>
